<!doctype html>
<html lang="pt-PT">

<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!--====== Title ======-->
    <title>DRIVECLEAN | Empresa de Detalhe Automóvel | Agualva</title>


    <!-- Primary Meta Tags -->
    <meta name="title" content="DRIVECLEAN | Empresa de Detalhe Automóvel | Agualva">
    <link rel="canonical" href="https://driveclean.pt/" />
    <meta name="description"
        content="Driveclean é uma empresa dedicada ao cuidado e estética automóvel, a trabalhar desde 2015. Profissionais na área do detalhe e cuidado automóvel, estamos disponíveis para.">
    <meta name="keywords"
        content="Driveclean, driveclean, drive clean, driveclean detalhe, detalhe automóvel lisboa, detalhe automóvel, Car, Car detail, detailing, Lavagem de carros, limpeza interior automóvel, automóvel, Polimento, pintura automóvel, ppf, Paint protection film, restauro, desinfeção, proteção cerâmica ">
    <meta name="robots" content="index, follow">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://driveclean.pt/">
    <meta property="og:title" content="DRIVECLEAN | Car Detail Company">
    <meta property="og:description"
        content="Empresa dedicada ao cuidado e estética automóvel, a trabalhar desde 2015 . Profissionais na área do detalhe e cuidado automóvel , estamos disponíveis para ajudar os nossos clientes nos seus projetos.">
    <meta property="og:image" content="https://driveclean.pt/website-preview.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://driveclean.pt/">
    <meta property="twitter:title" content="DRIVECLEAN | Car Detail Company">
    <meta property="twitter:description"
        content="Empresa dedicada ao cuidado e estética automóvel, a trabalhar desde 2015 . Profissionais na área do detalhe e cuidado automóvel , estamos disponíveis para ajudar os nossos clientes nos seus projetos.">
    <meta property="twitter:image" content="https://driveclean.pt/website-preview.png">

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/png">
    <link rel="apple-touch-icon" href="assets/images/favicon.png">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="assets/css/magnific-popup.css">

    <!--====== animate css ======-->
    <link rel="stylesheet" href="assets/css/animate.min.css">

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="assets/css/slick.css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="assets/css/default.css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<body>
    <!-- LOADER -->
    <div class="preloader">
        <div class="lds-ellipsis">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- END LOADER -->

    <!--====== HEADER PART START ======-->

    {% include header.html %}

    <!--====== HEADER PART ENDS ======-->

    <!--====== PAGE TITLE  PART START ======-->

    <div class="page-title-area">
        <div class="section__bg"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title-content text-center">
                        <h3 class="title">Personalização Automóvel</h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Personalização Automóvel</li>
                            </ol>
                        </nav>
                        <div class="scroll-to-down">
                            <a href="#portfolio-scroll"><i class="fal fa-arrow-down"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== PAGE TITLE  PART ENDS ======-->

    <!--====== ABOUT 2 PART START ======-->
    {% if site.data.personalization.active == true %}
    <section class="about-2-area about-5-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-2-thumb mt-30 animated wow fadeInLeft" data-wow-duration="3000ms"
                        data-wow-delay="0ms">
                        <div class="thumb">
                            <img src="{{ site.data.personalization.image1 }}" alt="">
                        </div>
                        <div class="thumb-2 ml-80">
                            <img src="{{ site.data.personalization.image2 }}" alt="">
                            <div class="box">
                                <h3 class="title"><span>{{ site.data.personalization.box.title }}</span></h3>
                                <span>{{ site.data.personalization.box.description }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-9">
                    <div class="about-5-content">
                        <h3 class="title">{{ site.data.personalization.title }}</h3>
                        <div class="text">
                            <p>{{ site.data.personalization.description }}</p>
                        </div>
                        <ul class="nav nav-pills mb-4" id="pills-tab" role="tablist">


                            {% for service in site.data.personalization.services %}
                            <li class="nav-item" role="presentation">
                                <a class="nav-link {% if service.first == true %}
                                active
                                {% endif  %}" id="pills-{{ service.title | remove: " " }}" data-toggle="pill"
                                    href="#pills-{{ service.title | remove: "" }}" role="tab"
                                    aria-controls="pills-{{ service.title | remove: " "}}" aria-selected="true">
                                    {{service.title }} {{ forloop.index }}  {{ forloop.first }}</a>
                            </li>
                            {% endfor %}

                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            {% for service in site.data.personalization.services %}
                            <div class="tab-pane fade show {% if service.first == true %}
                            active
                            {% endif  %} " id="pills-{{ service.title | remove: " " }}"
                                role="tabpanel" aria-labelledby="pills-{{ service.title | remove: " " }}-tab">
                                <div class="text">
                                    <p>{{ service.description }}</p>
                                </div>

                            </div>
                            {% endfor %}


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    <!--====== ABOUT 2 PART ENDS ======-->

    <!--====== PRICING PART START ======-->
    {% if site.data.personalization_planos.active == true %}
    <section class="pricing-area" id="pricing">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-9">
                    <div class="section-title section-title-2 text-center">
                        <img src="/assets/images/hero-line-5.png" alt="line">
                        <h3 class="title">{{ site.datapersonalization_planos.title }}</h3>
                        <p>{{ site.datapersonalization_planos.description }}</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                {% for plano in site.datapersonalization_planos.planos %}
                <div class="col-lg-4 col-md-6 col-sm-9 order-1">
                    <div class="pricing-item mt-30 animated wow fadeInLeft" data-wow-duration="1000ms"
                        data-wow-delay="0ms">
                        <h3 class="title">{{ plano.title }}</h3>
                        <span>{{ plano.value }}</span>
                        {{ plano.description | markdownify }}
                        <a class="main-btn" href="contact.html">Contactar</a>
                    </div>
                </div>
                {% endfor %}

            </div>

        </div>
    </section>
    {% endif %}
    <!--====== PRICING PART ENDS ======-->

    <!--====== SUBSCRIBE PART START ======-->

    <div class="subscribe-area subscribe-9-area subscribe-13-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="subscribe-item">
                        <h3 class="title">Amas carros? Amas detalhe?</h3>
                        <span>Subscreve a nossa newsletter para estares a par de todas as novidades e promoções da
                            Driveclean!</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <form class="subscribe-form subscribe-9-form subscribe-13-form"
                        action="https://formsubmit.co/geral@driveclean.pt" method="post">
                        <input type="hidden" name="_next" value="https://driveclean.pt">
                        <input type="hidden" name="_captcha" value="false">
                        <input type="hidden" name="_subject" value="Novo email NEWSLETTER">
                        <input type="text" name="NOVO EMAIL" id="email" pattern="[^ @]*@[^ @]*" placeholder="Email"
                            required>
                        <button type="submit" class="main-btn">SUBSCREVER</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--====== SUBSCRIBE PART ENDS ======-->

    <!--====== FOOTER PART START ======-->

    {% include footer.html %}

    <!--====== FOOTER PART ENDS ======-->

    <!--====== BACK TO TOP START ======-->

    <a class="back-to-top">
        <i class="fal fa-angle-up"></i>
    </a>

    <!--====== BACK TO TOP ENDS ======-->





    <!--====== jquery js ======-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/popper.min.js"></script>

    <!--====== appear js ======-->
    <script src="assets/js/jquery.appear.min.js"></script>

    <!--====== Slick js ======-->
    <script src="assets/js/slick.min.js"></script>

    <!--====== wow js ======-->
    <script src="assets/js/wow.js"></script>

    <!--====== Isotope js ======-->
    <script src="assets/js/isotope.pkgd.min.js"></script>

    <!--====== Images Loaded js ======-->
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>

    <!--====== Main js ======-->
    <script src="assets/js/main.js"></script>


</body>

</html>